.root {
  font-family: "Montserrat", sans-serif;
  width: 150px;
  font-size: 12px;
  height: 30px;
  color: #ffffff;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  background: url("/plasmic/copy_of_clove_website/images/screenShot20210627At122233PMpng2.png") left 0% bottom 0% / cover repeat,
    linear-gradient(#eaa827, #eaa827),
    url("/plasmic/copy_of_clove_website/images/cloveButtonsvg.svg") 0% 0% / cover no-repeat;
  border-radius: 15px;
  border-width: 0px;
}
