.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.img__a0Joe {
  object-fit: contain;
  width: 100%;
  height: auto;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
}
.img__yg59L {
  position: relative;
  margin-top: -1em;
  margin-right: 0px;
  margin-left: 7px;
  width: 100%;
  height: auto;
  min-width: 0;
}
