.root {
  display: flex;
  flex-direction: row;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 40px;
}
@media (min-width: 641px) {
  .root > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.img {
  position: relative;
  object-fit: cover;
  height: auto;
  width: auto;
  flex-grow: 0;
  max-width: 30%;
  display: inline-inline-block;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__i5J5H {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.freeBox__b80By {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.slotChildren {
  font-size: 48px;
  color: #ffffff;
  text-align: left;
}
@media (min-width: 800px) {
  .slotChildren {
    text-align: left;
  }
}
.slotChildren__mobile {
  text-align: center;
}
.freeBox___50Wys {
  position: relative;
  align-self: flex-start;
  width: 100%;
  max-width: 600px /* plasmic-token: kh_QbJwRdtO9At */;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
  margin: 0.5em /* plasmic-token: WcBAfY6pgIRFXm */ 0px;
}
.slotSlot {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  color: #ffffff;
  text-align: left;
}
.slotSlot__mobile {
  text-align: center;
}
