.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.link {
  position: relative;
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  background: url("/plasmic/copy_of_clove_website/images/screenShot20210627At122233PMpng.png") left 0% top 0% / auto 100% repeat,
    #eaa827;
  border-radius: 15px;
  padding: 0.5em 2em;
  border: 0px solid #ffffff;
}
.slotChildren {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #ffffff;
}
