.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 500px;
  position: relative;
  min-width: 0;
  border-radius: 25px;
  padding: 1em;
  background: #e8eeed;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 30px;
}
.box {
  position: relative;
  width: 100%;
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotChildren {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: center;
}
.contactForm:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
