.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.page:global(.__wab_instance) {
  position: relative;
}
.freeBox___87Iwa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.landing:global(.__wab_instance) {
  position: relative;
}
.freeBox__beFp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__beFp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__beFp > :global(.__wab_flex-container) > *,
.freeBox__beFp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__beFp > :global(.__wab_flex-container) > picture > img,
.freeBox__beFp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__oXbqq {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.startedButton:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.freeBox__biNvy {
  margin-left: 0px;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 20px;
  min-width: 0;
  min-height: 0;
}
.freeBox___0Ralf {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  text-align: center;
  background: transparent;
  display: inline-block;
}
.freeBox__o1BCs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: #f9f9f9;
}
.section__fmPW:global(.__wab_instance) {
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__vvDhc {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__vvDhc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__vvDhc > :global(.__wab_flex-container) > *,
.freeBox__vvDhc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vvDhc > :global(.__wab_flex-container) > picture > img,
.freeBox__vvDhc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-self: stretch;
  padding-top: 40px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 641px) {
  .columns {
    flex-direction: row;
  }
}
@media (min-width: 641px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 641px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.column___6Mxdo {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}
@media (min-width: 641px) {
  .column___6Mxdo {
    width: 0;
    flex-shrink: 0;
  }
}
.freeBox__mhYpi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  flex-shrink: 2;
  min-width: 0;
  min-height: 0;
}
.freeBox__f32U {
  position: relative;
  align-self: center;
  font-size: 40px;
  text-align: center;
  width: 100%;
  min-width: 0;
}
.checkmarkText__o2LN7:global(.__wab_instance) {
  position: relative;
}
.freeBox__qIjLd {
  font-size: 20px;
}
.checkmarkText__xKTn:global(.__wab_instance) {
  position: relative;
}
.freeBox__mblVy {
  height: auto;
  font-size: 20px;
}
.checkmarkText__s56Aa:global(.__wab_instance) {
  position: relative;
}
.freeBox__jGlBx {
  font-size: 20px;
}
.checkmarkText__iIwc1:global(.__wab_instance) {
  position: relative;
  height: 76px;
  flex-shrink: 0;
}
.freeBox__r4Vqa {
  width: 418px;
  height: auto;
  font-size: 20px;
}
.checkmarkText__ajIRs:global(.__wab_instance) {
  position: relative;
}
.freeBox__lxJrM {
  font-size: 20px;
}
.column__uG4Ad {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}
@media (min-width: 641px) {
  .column__uG4Ad {
    width: 0;
    flex-shrink: 0;
  }
}
.freeBox___8VgL0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__qIKoL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: url("/plasmic/copy_of_clove_website/images/cloveBrownBackgroundsvg.svg") 0% 0% / cover repeat padding-box
    border-box;
}
@media (min-width: 641px) {
  .freeBox__qIKoL {
    background: #7d7176;
  }
}
.section__sNCa:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.impactSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__gYTj {
  height: auto;
}
.section__k76Ij:global(.__wab_instance) {
  position: relative;
}
.freeBox__wWyUi {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__wWyUi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__wWyUi > :global(.__wab_flex-container) > *,
.freeBox__wWyUi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wWyUi > :global(.__wab_flex-container) > picture > img,
.freeBox__wWyUi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.freeBox___2TRp6 {
  position: relative;
  align-self: center;
  font-size: 48px;
  text-align: center;
  padding: 10px;
}
.contactCard:global(.__wab_instance) {
  position: relative;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.freeBox__aEi5J {
  width: auto;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
}
