.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 39px;
  height: 34px;
  align-self: center;
  color: #eaa827;
  flex-shrink: 0;
}
.slotChildren {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
