.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.page:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox___23KFh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.title {
  position: relative;
  text-align: center;
  font-size: 4em;
  margin: 0.5em /* plasmic-token: WcBAfY6pgIRFXm */;
}
.freeBox__bPrgu {
  position: relative;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.freeBox__c6S2O {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
.link {
  position: relative;
  height: auto;
  font-family: "Montserrat", sans-serif;
  color: #535353;
  font-style: italic;
  text-decoration-line: underline;
}
.freeBox___3WrNi {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-top: 1em;
  margin-bottom: 1em;
}
.freeBox__uJyYa {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
.partnerCard:global(.__wab_instance) {
  position: relative;
}
.img {
  position: relative;
  object-fit: cover;
  height: 100%;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
